<ion-view title="{{labels.rechercher}}" cache-view="false" id="page20">
    <ion-content>
        <div class="list card">

            <form id="searchForm" name ="searchForm" ng-submit="submitSearch();">
                <div class="input-group" ng-class="{'has-error': (searchForm.activite_id.$invalid && searchForm.activite_id.$dirty) || (searchForm.localite.$invalid && searchForm.localite.$dirty)}">
                    <label class="item item-input item-select">
                        <div class = "input-label">
                            {{labels.activite}} : 
                        </div>
                        <select id="groupe" ng-model="search.activite_id" name="search.activite_id" class="form-control query">
                            <option value="">{{labels.activite}} ?</option>
                            <option ng-repeat="activite in activites| orderBy:'+title'" value="{{activite.id}}">{{activite.title}}</option>
                        </select>
                    </label>


                    <label class="item item-input" ng-class="{'has-error': addArtisan.localite_id.$invalid && searchFormlocalite_id.$dirty}">
                        <input cancel-label="X"  select-items-label="{{labels.code_postal}}" selected-items-label="Choisi :" ion-autocomplete placeholder="{{labels.code_postal}} *" item-value-key="id" item-view-value-key="title" max-selected-items="1" type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" ng-model="search.localite_id" items-method="callbackMethod(query)" items-clicked-method="clickedMethod(callback)"/>

                    </label>

                    <!--    <label class="item item-input" ng-class="{'has-error': addArtisan.localite_id.$invalid && addArtisan.localite_id.$dirty}">-->
                    <input type="text" ng-model="search.localite_id"  name="localite_id" id="localite_id" ng-show="false">



                    <button  class="button button-energized  button-block icon-right ion-search" type="submit" ng-disabled="searchForm.$invalid">{{labels.rechercher}}</button>

                </div>
            </form>
        </div>
        <div class="card">



            <!--  <ion-list ng-repeat="telephone in telephones" no-padding>-->
            <ion-item ng-repeat="telephone in telephones | orderBy: ['+activite.title','-artisan_count']" no-padding
                      ng-click="afficherArtisan(telephone);">
                <span ng-show="!telephone.societe">{{telephone.prenom}} {{telephone.nom}}</span> 
                <span ng-show="telephone.societe">{{telephone.societe}}</span>
                - {{telephone.activite.title}}
                ({{telephone.artisan_count}})
            </ion-item>


            <div ng-show="telephones.length === 0" class="text-center">
                <span class=" text-shadow text-weight-bold">{{labels.aucun_artisan}}</span> 
            </div>



        </div>   
        <center>

            <ion-button  ng-click="next();" ng-if="!spinnerNext" ng-disabled="application.page === false" class="button button-energized button-large" font-size=100><i class="icon ion-plus-round"></i></ion-button>
            <ion-button ng-if="spinnerNext"  class="button button-energized button-large"><i class="icon ion-minus-round"></i></ion-button>

        </center>
    </ion-content>
</ion-view>
